@import helper/vars
@import helper/mixin
@import components/header
@import components/footer

.bg-orange
  background-color: $second-primary

h2 
  font-size: 6rem
  letter-spacing: 5px
  margin: 0

.subtitle 
  font-size: 2.4rem
  letter-spacing: 2px
  line-height: 3.5rem
  color: #555

.section-content 
  margin-bottom: 50px

.transparent-button
  color: $primary
  background-color: transparent
  &:hover
    color: #fff
    background-color: $primary 

.title-mb 
  margin-bottom: 25px

.events-line
  display: flex
  justify-content: space-between
  margin: 0 -15px

.event
  position: relative
  margin: 0 15px
  box-sizing: border-box
  img 
    width: 100%
    vertical-align: bottom
  figcaption 
    position: relative
    padding: 15px 20px
    border: 3px solid #000000
    border-top: none
  &:hover 
    .event-button
      opacity: 1


.event-info 
  position: absolute
  top: 0
  left: 0
  padding: 10px 15px
  width: 100%
  font-size: 1.8rem
  color: #fff
  line-height: 25px
  background-image: linear-gradient(90deg, rgba(0,37,255,0.3) 0%, transparent 100%)
  address
    font-style: normal

h3 
  font-size: 2.4rem 
  letter-spacing: 2px
  margin: 0

.event-subtitle 
  font-size: 1.6rem
  line-height: 24px
  color: #555 

.event-button 
  position: absolute
  left: -3px
  bottom: -50px
  width: calc(100% + 6px)
  padding: 5px 0
  font-size: 2.4rem
  text-align: center
  opacity: 0
  transition: all .5s ease

.video-bg 
  display: flex
  justify-content: space-between
  width: 100%
  padding: 50px 20px
  margin: 0
  box-sizing: border-box
  background-color: #555
  p 
    font-size: 1.8rem
    line-height: 2.8rem
    letter-spacing: 1px
    color: #fff

.gallery-line 
  display: flex
  justify-content: space-between
  align-items: center
  margin: 30px 0
  div 
    width: 25%
    padding: 0 6px
    box-sizing: border-box
  img 
    width: 100%
    transition: all .5s ease
    &:hover
      transform: scale(1.05)

.small-photo 
  img:first-child 
    margin-bottom: 10px

.button-line 
  width: 100%
  text-align: center