footer 
  .social-line
    a.soc-inst(href="#")
      img(src="img/inst.svg", alt="Instagram")
    a.soc-fb(href="#")
      svg.fb-img 
        use(xlink:href="img/sprite.svg#fb")
    a.soc-tw(href="#")
      img(src="img/tw.svg", alt="Twitter")
    a.soc-yt(href="#")
      svg 
        use(xlink:href="img/sprite.svg#yt")
  p.copy Copyricht © 2020 All rights reserved
svg 
  use(xlink:href="img/sprite.svg")