footer 
  .social-line
    a.soc-inst(href="#")
      +call_svg("img/sprite.svg#inst")
    a.soc-fb(href="#")
      +call_svg("img/sprite.svg#fb")
  p.copy Copyricht © 2020 All rights reserved Musikkbryggeriet