footer 
  .social-line
    a.soc-inst(href="#")
      img(src="img/inst.svg", alt="Instagram")
    a.soc-fb(href="#")
      img(src="img/fb.svg", alt="Facebook")
    a.soc-tw(href="#")
      img(src="img/tw.svg", alt="Twitter")
    a.soc-yt(href="#")
      img(src="img/yt.svg", alt="YouTube")
  p.copy Copyricht © 2020 All rights reserved