header 
  .wrapper 
    .header-line 
      .logo
        a(href="#")
          img(src="img/logo.png", alt="Musikkbryggeriet3d logo")
      nav.header-menu
        ul 
          li
            a(href="#") Hjem
          li
            a(href="#") Om oss
          li
            a(href="#") Fellesskap
          li
            a(href="#") Booking
          li
            a(href="#") Eventer
          li
            a(href="#") Samarbeid
          li
            a(href="#") Shop
          li
            a(href="#") Kontakt oss
      .profile
        ul.sing-up 
          li
            a(href="#") SIGN&nbsp;UP
          li
            a(href="#") SIGN&nbsp;IN
    section.header-content 
      .header-about
        h1 MAIN TEXT
        p.header-subtitle One more text
        a.button(href="#") Button
      .header-slider
        img(src="img/head_slide1.jpg", alt="Slider first photo")
        .slider-arrows 
          .arrow-left
          .arrow-right