header 
  .wrapper
    .adaptive-header-line
      .header-line 
        .logo
          a(href="index.html")
            img(src="img/logo.png", alt="Musikkbryggeriet3d logo")
        nav.header-menu
          ul 
            li
              a(href="index.html") Hjem
            li
              a(href="contact.html") Om oss
            li
              a(href="#") Fellesskap
            li
              a(href="#") Booking
            li
              a(href="event.html") Eventer
            li
              a(href="#") Samarbeid
            li
              a(href="shop.html") Shop
            li
              a(href="#") Kontakt oss
        .right-part
          .profile
            img(src="img/profile.svg", alt="Profile")
            ul.sing-menu 
              li
                a.sing-up-button(href="#") SIGN&nbsp;UP
              li
                a.sing-in-button(href="#") SIGN&nbsp;IN
          .burger
            span
    section.header-content 
      .header-about
        .header-text-wrap
          h1 MAIN TEXT
          p.header-subtitle One more text
        a.button(href="#") Button
      .header-slider
        .photos
          img.header-slider-img(src="img/head_slide1.jpg", alt="Slider first photo")
          img.header-slider-img(src="img/head_slide2.jpg", alt="Slider second photo")
          img.header-slider-img(src="img/head_slide3.jpg", alt="Slider third photo")
        .slider-arrows 
          .arrow-left
          .arrow-right