<!DOCTYPE html>
html(lang="no")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
		title Musikkbryggeriet3d
		link(rel="stylesheet", href="css/style.css")
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap" rel="stylesheet">
	body
		include helper/vars
		include helper/mixin
		include components/header
		main
		.bg-orange
			.wrapper 
				section.about-us
					.section-content 
						h2 INFORMATION ABOUT US 
						p.subtitle You can read more detailed information about us by clicking on the button. 
						a.button.transparent-button(href="#") Read more
					.events-line 
						figure.event
							.event-info
								address San-Francisco 
								time Feb 03
							img(src="img/event.jpg", alt="Event")
							figcaption
								h3 NAME OF EVENT
								p.event-subtitle INFO ABOUT EVENT. This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel
								a.button.transparent-button.event-button(href="#") Read more 
						figure.event
							.event-info
								address San-Francisco 
								time Feb 03
							img(src="img/event.jpg", alt="Event")
							figcaption
								h3 NAME OF EVENT
								p.event-subtitle INFO ABOUT EVENT. This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel 
								a.button.transparent-button.event-button(href="#") Read more
						figure.event
							.event-info
								address San-Francisco 
								time Feb 03
							img(src="img/event.jpg", alt="Event")
							figcaption
								h3 NAME OF EVENT
								p.event-subtitle INFO ABOUT EVENT. This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel
								a.button.transparent-button.event-button(href="#") Read more 
						figure.event
							.event-info
								address San-Francisco 
								time Feb 03
							img(src="img/event.jpg", alt="Event")
							figcaption
								h3 NAME OF EVENT
								p.event-subtitle INFO ABOUT EVENT. This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel
								a.button.transparent-button.event-button(href="#") Read more 
				section.video 
					h2.title-mb VIDEO 
					figure.video-bg
						video(src="https://www.youtube.com/watch?v=qv714UBCVg4") 
						figcaption 
							p This is Photoshop's version  of Lorem Ipsum.Proin gravida nibh vel velit auctor aliquet.
							p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
							p Morbi consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
				section.gallery 
					h2.title-mb PHOTO GALLERY 
					.gallery-line 
						.big-photo
							img(src="img/gallery_big.jpg", alt="Description")
						.small-photo
							img(src="img/gallery_small.jpg", alt="Description")
							img(src="img/gallery_small.jpg", alt="Description")
						.big-photo
							img(src="img/gallery_big.jpg", alt="Description")
						.small-photo
							img(src="img/gallery_small.jpg", alt="Description")
							img(src="img/gallery_small.jpg", alt="Description")
					.button-line 
						a.button.transparent-button(href="#") View more
		include components/footer