<!DOCTYPE html>
html(lang="no")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
    title Musikkbryggeriet3d
    link(rel="stylesheet", href="css/style.css")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
  body.second-page
    include helper/vars
    include helper/mixin
    header 
      .wrapper
        .adaptive-header-line
          .header-line 
            .logo
              a(href="index.html")
                img(src="img/logo_black.png", alt="Musikkbryggeriet3d logo")
            nav.header-menu
              ul 
                li
                  a(href="index.html") Hjem
                li
                  a(href="contact.html") Om oss
                li
                  a(href="#") Fellesskap
                li
                  a(href="#") Booking
                li
                  a(href="event.html") Eventer
                li
                  a(href="#") Samarbeid
                li
                  a(href="shop.html") Shop
                li
                  a(href="#") Kontakt oss
            .right-part
              .profile
                ul.sing-menu 
                  li
                    a.sing-up-button(href="#") SIGN&nbsp;UP
                  li
                    a.sing-in-button(href="#") SIGN&nbsp;IN
              .burger
                span
    main
      hr.primary-line
      .wrapper 
        section.product-section
          h2 NAME OF PRODUCT
          .flex-wrap
            div.half
              .product-menu-line.flex-wrap
                form.search 
                  input#shop-search(type="search", name="shop-search" placeholder="Search")
                  label(for="shop-search")
                  input.search-submit#event-search(type="submit")
                  label(for="search-submit")
                .shop-cabinet
                  span.balance 15$
                  button.basket 
                    img(src="img/basket.png", alt="Basket")
              .text-description 
                p.about-us-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                p.about-us-text Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                p.about-us-text Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum f  
              form.product-order 
                button.button.button-plus 
                label.score
                  input(type="number", name="product-quantity", value="1")
                button.button.button-minus
                label 
                  input.button.donate-button(type="submit", value="Donate")
            .slider.contact-slider
              .arrow-left-contact
                img(src="img/arrow_black.png", alt="arrow left")
              .product-slider-line 
                .collage 
                  .main-photo 
                    img(src="img/shop_product.jpg", alt="Product")
                    .product-price
                      span 15$
                  .additional-photo 
                    img(src="img/shop_product.jpg", alt="Product")
                    img(src="img/shop_product.jpg", alt="Product")
                    img(src="img/shop_product.jpg", alt="Product")
              .arrow-right-contact
                img(src="img/arrow_black.png", alt="arrow right")
    footer 
      .social-line.flex-wrap 
        a(href="#")
          img(src="", alt="")
        a(href="#")
          img(src="", alt="")
        a(href="#")
          img(src="", alt="")
        a(href="#")
          img(src="", alt="")
      p.copy Copyricht © 2020 All rights reserved
    script(src="js/scripts.js")